.box {
  display: flex;
  z-index: 5;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(7, 6, 66);

  height: auto;
  padding-top: 20px;

  /* color: white; */
  /* font-size: 60px;
  font-family: "Langar", cursive; */
}

#title {
  font-size: 8rem;
  font-family: Lucida Console;
  font-weight: 700;
  color: rgb(36, 113, 214);
  text-transform: uppercase;
  margin-top: 30px;
  /* letter-spacing: 20px; */
  /* border-color: black; */
  text-shadow: 1px 1px 1px #363333, 1px 2px 1px #4b4545, 1px 3px 1px #389bb9,
    1px 4px 1px #389bb9, 1px 5px 1px #389bb9, 1px 6px 1px #389bb9,
    1px 7px 1px #389bb9, 1px 8px 1px #389bb9, 1px 9px 1px #389bb9,
    1px 10px 1px #3a3535;
}

#subtitles {
  display: flex;

  justify-content: space-around;
  align-items: flex-end;

  height: auto;
  padding-top: 20px;
  margin: 20px;

  /* position: -webkit-sticky; Safari */
  /* position: sticky; */
  z-index: 10;
}

#subtitle {
  /* padding-top: 5px; */
  color: rgb(19, 111, 218);
  font-size: 1.5rem;
  background-color: rgb(2, 32, 71);
  border-style: solid;
  border-color: rgb(18, 6, 47);

  padding: 0.5rem;
  border-radius: 1rem;
}
