.centrePiece {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
  z-index: 1;
}

.introduction {
  width: 60%;

  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 100px;
  /* background-color: rgba(7, 6, 66, 0.747); */
  background-color: var(--box-color);
  /* background-color: rgba(12, 12, 43, 0.829); */
  box-shadow: -10px 10px 20px 8px rgba(3, 2, 42, 0.747);
  z-index: 10;
}

.projects,
.experiences {
  display: flex;
  width: 60%;
  margin-top: 100px;

  flex-direction: column;
  justify-content: flex-start;

  /* background-color: rgba(12, 12, 43, 0.829); */
  background-color: var(--box-color);

  z-index: 10;
  box-shadow: -10px 10px 20px 8px rgba(3, 2, 42, 0.747);
}

.normalText {
  margin-top: 50px;
  padding-left: 15px;
  font-size: 1.75rem;
  font-family: var(--projectText);
  width: 100%;
  /* 
  display: flex; */
  color: var(--white);
}

.text3 {
  color: rgb(231, 181, 73);
}

.special {
  color: #2dbed2;
}
#heading {
  padding-left: 10px;
  font-size: 3rem;
  width: 70%;

  margin: 1px;
}

.format {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#sub {
  font-size: 4.5rem;
  color: #e9e1e1;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#heading2 {
  margin: 1px;
  display: flex;
  justify-items: center;
  font-size: 2rem;
}

.header {
  color: white;
  font-size: 2rem;
}

#experience {
  margin-bottom: 50px;
}

.flipper {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
}

.contactMe {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.addPadding {
  padding-top: 10px;
}

.specialCase {
  display: flex;
  flex-direction: column;
}

.seminar {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}

#ResumeForm {
  color: grey;
}

#GithubForm {
  color: rgb(204, 148, 43);
}

#linkedinForm {
  color: lightblue;
}

#mailForm {
  color: rgb(56, 56, 219);
}
#ResumeForm:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  color: rgb(185, 183, 183);
}

#GithubForm:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  color: orange;
}

#linkedinForm:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  color: rgb(91, 185, 216);
}

#mailForm:hover {
  transform: scale(1.15);
  transition-duration: 0.5s;
  color: blue;
}
@media screen and (max-width: 960px) {
  .format {
    flex-direction: column;
  }

  .centrePiece {
    justify-content: center;
    align-items: center;
  }

  .introduction,
  .projects,
  .experiences {
    width: 100%;

    /* margin-left: 10px; */
  }

  .flipper {
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .normalText {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }

  /*
  .introduction {
    width: 100%;
  } */
}
