.centrePiece {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding-right: 500px; */
  height: 200rem;
  /* background-color: gold; */
}

.introduction {
  /* background-color: rgb(31, 30, 6); */
  width: 70%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(7, 6, 66, 0.747);
  /* height: 100vh; */
}

.projects {
  display: flex;
  width: 70%;

  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(7, 6, 66, 0.747);
}

.normalText {
  font-size: 1.5rem;
  width: 80%;
}

.text {
  color: bisque;
}

.text2 {
  font-size: 1.5rem;
  color: rgb(179, 130, 67);
}

.text3 {
  color: rgba(230, 14, 14, 0.897);
}

.special {
  /* color: rgb(90, 90, 224); */
  color: rgb(73, 68, 230);
}

.format {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* .image {
  background-color: rgb(28, 26, 90);
} */

#sub {
  font-size: 4.5rem;
  color: bisque;
}

.title {
  background-color: rgba(7, 6, 66, 0.747);
}

.miniSections {
  display: flex;
  background-color: rgb(19, 17, 48);
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  height: auto;
  margin: 30px;
}

#miniTitle {
  font-size: 1.25rem;
}

#heading {
  margin: 1px;

  /* font-size: 1.5rem; */
}

#heading2 {
  margin: 1px;
  display: flex;
  justify-items: center;
  font-size: 1rem;
  /* background-color: blueviolet; */
}

.projectPicCombo {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 5px; */
  margin-left: 10px;
  margin-bottom: 10px;
}

.textProject {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1px;
}

.skillSet {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 15%;
  background-color: rgba(94, 105, 105, 0.267);
}

.descriptionAndSkills {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.skillBox {
  flex-wrap: wrap;
  font-size: 1rem;
  background: rgb(56, 9, 9);
  padding: 0.75rem;
  border-radius: 1rem;
  margin: 0.2rem;
  width: max-content;
  color: rgb(110, 120, 180);
}

.skillHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

.imagesHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: white;
  font-size: 2rem;
}
