body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Langar", cursive, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(21, 21, 22); */
  /* background-color: rgba(8, 25, 53, 0.925); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
